// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user {
  text-align: left;
}

#user_img img{
  height: 7%;
  width: 7%;
  margin: 1% 90% 0% 1%;
}

#show_user_img img{
  height: 7%;
  width: 7%;
}
